name: Build dist and publish to PyPI

on: [push, pull_request]

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/project/clmbr-altk
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
    # retrieve your distributions here
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
          python-version: '3.11'
    - name: Install package 
      run:  pip install -e .
    - name: Build dist
      run:  python -m build
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/